{{#hasContent}}
[cols="8,1,1,6"]
|===
|{{th-header}}|{{th-type}}|{{th-optional}}|{{th-description}}

{{#content}}
|`{{path}}`
|`{{type}}`
|{{optional}}
|{{description}}

{{/content}}
|==={{/hasContent}}{{#noContent}}{{no-headers}}{{/noContent}}
