[[resources-{{link}}]]
=== {{title}}

include::auto-method-path.adoc[]

include::auto-description.adoc[]
{{#sections}}

==== {{header}}

include::{{fileName}}.adoc[]
{{/sections}}

==== Errors
Errors that could be returned by this call.
